<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Gap Visualizer</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('chart.static', filename='indexStyle.css') }}">
    <script src="{{ url_for('chart.static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="title-container">Stock Gap Visualizer</div>
        <div class="form-section">
            <form action="/chart" method="post">
                <div class="input-container">
                    <input type="text" class="search-bar" id="symbol" name="symbol" placeholder="SPY" value="{{ symbol }}" required>
                </div>
                <div class="input-container">
                    <input type="range" class="slider" id="target_price" name="target_price" min="0" max="{{ current_price * 10 }}" value="{{ current_price }}" oninput="updateSliderValue(this.value)">
                    <div class="slider-value" id="slider_value">{{ current_price }}</div>
                    <div class="description">Enter a target price to receive an alert when it's reached.</div>
                </div>
                <div class="input-container">
                    <button type="submit" class="search-button" id="generate_button">Generate Chart</button>
                </div>
                <div class="input-container">
                    <div id="loading_indicator" class="hidden">Generating...</div>
                    <div class="alert" id="alert_message"></div>
                </div>
            </form>
        </div>
        <div class="chart-container">
            {% if chart_html %}
                <div class="chart" id="chart-div">
                    {{ chart_html | safe }}
                </div>
            {% endif %}
        </div> 

        <div class="heatmap-container">
            <a href="{{ url_for('heatmap.heatmap') }}" class="heatmap-button">View Heatmap</a>
        </div>
    </div>   
</body>
</html>
