/* dashboard.static.dashboardStyle.css */

body {
    margin: 0;
    padding: 0;
    background-color: #282c35;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.dashboard-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%; /* Use the full width of the screen */
    max-width: 600px; /* Limit the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-title {
    font-family: 'Bungee', cursive;
    font-size: 36px;
    color: #f9a825;
    margin-bottom: 20px;
}

.dashboard-content {
    /* Add your dashboard content-specific styles here */
}

/* Add this CSS to your dashboardStyle.css file */
.logout-button, .chart-button, .heatmap-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px; /* Add spacing between buttons */
}

/* Style the buttons on hover */
.logout-button:hover, .chart-button:hover, .heatmap-button:hover {
    background-color: #333;
}


/* Style for the spacer */
.spacer {
    height: 20px; /* Adjust the height to control the spacing */
}

