<!-- login.templates.login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('login.static', filename='loginscripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('login.static', filename='loginStyle.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 class="title-container">Login</h1>
    <form method="POST" action="/login" class="form-section">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}

    <!-- Add a "Register" button -->
    <button id="show-registration">Register</button>
    
    <!-- The popup form -->
    <div class="popup-container" id="popupContainer">
        <div class="popup">
            <!-- Include your create_paper_trades.html content here -->
            {% include 'register.html' %}
        </div>
    </div>  
</body>
</html>
