<!-- heatmap.templates.heatmap.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Gap Visualizer - Heatmap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='heatmapStyle.css') }}">
    <script src="{{ url_for('static', filename='heatmapScripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="heatmap-container">
            <div class="chart-container">
                {% if heatmap %}
                    <div class="chart" id="chart-div">
                        {{ heatmap | safe }}
                    </div>
                {% endif %}
            </div> 
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date">
            <button id="update-heatmap">Update Heatmap</button>
        </div>
    </div>
</body>
</html>
