<!-- common.ui.navbar.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='dashboardStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Include your CSS file here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DataDash - Dashboard</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Data Dash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {% if active_item == 'dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_item == 'watchlist' %}active{% endif %}" href="/watchlist">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_item == 'chart' %}active{% endif %}" href="/chart">Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_item == 'papertrading' %}active{% endif %}" href="/papertrading">Paper Trades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_item == 'heatmap' %}active{% endif %}" href="/heatmap">Heatmap</a>
            </li>
        </ul>
    </div>
</nav>
