<!-- dashboard.templates.dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='dashboardStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Include your CSS file here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Pursuit Home</title>
</head>
<body>
    {% set active_item = 'dashboard' %}
    {% include 'navbar.html' %}
    <div class="dashboard-container">
        <h1 class="center">Welcome<br>Portfolio Pursuit Home</h1>
        <p>Here you can customize and view your data visualizations.</p>
        
        <!-- Add spacing between sections -->
        <div class="spacer"></div>
        
        <div class="dashboard-content">
            <!-- Styled buttons for chart, heatmap, and watchlist -->
            <button onclick="location.href='{{ url_for('chart.chart') }}'" class="chart-button">Chart</button>
            <button onclick="location.href='{{ url_for('heatmap.heatmap') }}'" class="heatmap-button">Heatmap</button>
            <button onclick="location.href='{{ url_for('watchlist_temp.watchlist') }}'" class="heatmap-button">Watchlist</button>
            <button onclick="location.href='{{ url_for('paper_trading_interactive.list_paper_trades') }}'" class="heatmap-button">Paper Trading</button>
        </div>
        
        <!-- Add spacing between buttons and the logout section -->
        <div class="spacer"></div>
        
        <!-- Logout button -->
        <form action="/logout" method="get">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
