<!-- watchlist.html -->

{% set active_item = 'watchlist' %}
{% include 'navbar.html' %}
<body>
    <script src="{{ url_for('watchlist.static', filename='watchlistscripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('watchlist.static', filename='watchliststyles.css') }}">

    <script>
        var sp500 = {{ sp500_symbols | tojson | safe }};
    </script>

    <h1>My Watchlist</h1>

    <form method="POST" action="{{ url_for('watchlist.add_stock') }}">
        <label for="newStockSymbol">Add Stock Symbol:</label>
        <input type="text" id="newStockSymbol" name="newStockSymbol" placeholder="Enter stock symbol">
        <button type="submit">Add</button>
    </form>

    <ul>
        <!-- function for creating watchlist items with delete buttons-->
        {% for stock in watchlist_data %}
        <li>
            <a href="/chart?symbol={{ stock.ticker }}">
                {{ stock.ticker }} - {{ stock.stock_name }}
            </a>
            <button type="button" onclick="deleteStock('{{ stock.ticker }}')">Remove</button>
            <div class="mini-chart">
                <!-- Render a mini chart for the stock here -->
                <!-- You can use JavaScript or server-side rendering to generate the mini chart -->
            </div>
            <p>Current Price: {{ stock.current_price }}</p>
        </li>
        {% endfor %}
    </ul>

    <!-- Include jQuery and jQuery UI scripts before your custom JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

     <!-- Define a JavaScript function to call delete_stock function -->
    <script>
        function deleteStock(stockTicker) {
            // Send an AJAX request to delete the stock
            $.ajax({
                type: "POST",
                url: "/watchlist/delete_stock",  // Update this URL based on your Flask route
                data: { stockSymbol: stockTicker },
                success: function(response) {
                    // If the removal is successful, reload the page to update the watchlist
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error("Error removing stock:", error);
                    // Handle the error as needed
                }
            });
        }
    </script>
</body>
</html>
</body>
</htm>